/*
General
*/

body.home-body {
    background-color: #1e1e1e;
}

nav {
    padding: 10px;
}

.navbar-brand img {
    width: 20px;
}

.contact-link a{
    color: white;
}

.contact-link a:hover{
    color: rgb(185, 185, 185);  
    text-decoration: none;  
}

.custom-hr {
    width: 50px;
    height: 4px;
    background-color: #1e1e1e;
    margin: 0px auto 15px auto;
}

/*
First Section
*/

.first-section img {
    width: 550px;
    margin-top: 30px;
}

.first-section a {
    color: white;
    text-decoration: underline;
}

.first-section a:hover {
    color: rgb(185, 185, 185);  
    text-decoration: underline;
}

/*
Second Section
*/

.second-section {
    background-color: white;
}

.second-section-title {
    padding: 80px 0px;
    text-align: center;
    font-weight: bold;
}

.second-section .container {
    height: 600px;
}

/*
Custom Card
*/

.custom-card {
    height: 320px;
    background-color: white;
    color: #1e1e1e;
    border: 1px solid #bebebea9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: background-color 0.15s;
}

.custom-card h2 {
    font-size: 1.5em;
    padding: 10px 0px 0px 0px;
    font-weight: bold;
}

.custom-card:hover {
    background: #1e1e1e;
    color: white;
}

/*
Footer
*/

footer {
    background-color: #1e1e1e;
    color: rgb(122, 122, 122);
    padding: 20px;
    text-align: center;
    
}

/*
Responsive
*/

@media(max-width: 576px){
    .first-section {
        height: 500px;
    }

    .first-section h1 {
        font-size: 2.7em;
        margin-top: 100px;
        text-align: center;
    }

    .first-section .row {
        text-align: center;
    }

    .navbar-brand img {
        margin-left: 20px;
    }

    .mobile img {
        width: 200px;
        display: inline-block;
        margin-bottom: 20px;
    }

    .second-section .container {
        height: 1200px;
    }

    .custom-card {
        height: 300px;
        width: 400px;
        margin: auto;
        background-color: white;
        color: #1e1e1e;
        border: 1px solid #bebebea9;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 10px;
        text-align: center;
        transition: background-color 0.15s;
    }
    
}




